* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
}

.card__headline{
  font-size: 1.375em;
  line-height: 1.375em;
}

.card__text{
  display: flex;
  max-width: 470px;
  max-height: 200px;
  font-size: 1em;
  line-height: 1.375em;
  overflow: auto;
  word-break: inherit;
  flex-direction: column;
  padding-right: 1em;

}

.cards {
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card__inni {
  margin-top: 1em;
  display: flex;
  flex-direction: start;
  width: 100%;
  
}

.card__image {
  flex: 0 0 150px;
  
}

.card__imgsrc{
  width: 100%;
  justify-content: right;
}

.card{
  padding: 1em;
  display: flex;
  max-width: 470px;
  max-height: 300px;
  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 5px;
  margin-bottom: 10px;
  word-break: break-all;
  flex-wrap: wrap;
  overflow: hidden;
  align-content: flex-start;
}

.listi{
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  list-style: none;

}

.listaord{
  padding-right: 0.5em;
  align-items: flex-end;
}
