* {
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1500px;
  padding: 20px;
}

.cards {
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card{
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  max-width: 470px;
  max-height: 300px;
  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 0.7em;
}

.card__headline{
  font-size: 1.375em;
  line-height: 1.375em;
  word-break: break-all;
}

.card__textiogmynd {
  margin-top: 1em;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  max-height: 70%;
  justify-content: flex-end;
  overflow: hidden;
}

.card__text{
  max-width: 470px;
  font-size: 1em;
  line-height: 1.375em;
  overflow: auto;
  padding-right: 1em;
  overflow-wrap: break-word;
  height: 100%;
}

.card__image {
  flex: 0 0 150px;
}

.card__imgsrc{
  width: 100%;
  justify-content: right;
}

.listi{
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  list-style: none;
  align-content: flex-end;
}

.listaord{
  padding-right: 0.5em;
}
